# Aplicación interactiva
streamlit==1.38.0

# Manejo de datos y cómputo
pandas==2.2.3
numpy==1.26.4

# Modelo y explicabilidad
xgboost==2.1.1
shap==0.46.0
joblib==1.4.2
matplotlib==3.9.2

# GCP
google-auth==2.33.0
google-cloud-storage==2.17.0